<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Manager</title>
</head>
<body>
    <div align="center" style="background-color: antiquewhite; min-width: 1366px; min-height: 768px;
     align-content: center; position: relative; margin: 0 auto;">

        <br> <br>
        <form action="#" th:action="@{/auth/logout}"  method="post">
            <input class="close-btn" type="submit" value="Application Logout" style="background-color: lightgreen;
             width: 150px; height: 30px; border: solid 4px rgba(0, 0, 0, 0.23); cursor: pointer; border-radius: 10px">
        </form>
        <br>

        <h1>URLInfo Manager</h1>

        <form th:action= "@{/search}" method="get" > <!-- вместо action="search" -->
            <input type="text" name="keyword" placeholder="keyword" />
            <input type="submit" value="Search" style="cursor: pointer; background-color: lightgreen; border-radius: 3px"/>
        </form>

        <br><br>

        <a href="new"> <h2>Create New URLInfo</h2></a>
        <br><br>
        <table border="2" cellpadding="12" bgcolor="#add8e6">
            <thead>
            <tr bgcolor="#deb887">
                <th>ID</th>
                <th>URL_Link</th>
                <th>Email</th>
                <th>Nickname</th>
                <th>Password</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody style="padding-bottom: 50px">
                <tr th:each="urlinformation : ${infoList}">
                    <td th:text="${urlinformation.id}">ID</td>
                    <td th:text="${urlinformation.url}">URL</td>
                    <td th:text="${urlinformation.email}">Email</td>
                    <td th:text="${urlinformation.nickname}">Nickname</td>
                    <td th:text="${urlinformation.password}">Password</td>
                    <td th:text="${urlinformation.description}">Description</td>
                    <td>
                        <a th:href="@{'/edit/' + ${urlinformation.id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a th:href="@{'/delete/' + ${urlinformation.id}}">Delete</a>
                    </td>
                </tr>
            </tbody>


        </table>
        <br><br>
    </div>


</body>
</html>